<ion-header>
  <ion-navbar >
  	 <!-- <button ion-button icon-only color="white" class="boton" (click)="add()">
  	        <ion-icon name="add"></ion-icon>
            </button>-->

            <button ion-button icon-only color="royal" class="boton" (click)="add()">
              <ion-icon name="person-add" ></ion-icon>
            </button>

   <ion-title class="agenda">
      AGENDA
   </ion-title>
  
    </ion-navbar>
</ion-header>


<ion-content padding>
    
  
  <!--<ion-list>
  <ion-item>
    <button ion-item *ngFor="let item of lista" >
        <ion-thumbnail item-start>
          <img src="img/thumbnail-totoro.png">
        </ion-thumbnail>
      <h2>{{item.nombre}} {{item.ApellidoP}} {{item.ApellidoM}} </h2>
      <p>{{item.direcion}}</p><h2>{{item.telefono}}</h2>
      <button ion-button  item-end>detalles</button>
      <button ion-button color="danger" item-end>
      <ion-icon name="trash" ></ion-icon>  Eliminar </button>
    </button>
  </ion-item>

  </ion-list>-->
    
  
  <ion-list>
      <ion-item-sliding *ngFor="let item of lista">
          <button ion-item>
            <h2>{{item.nombre}} {{item.ApellidoP}} {{item.ApellidoM}}</h2>
            <ion-avatar item-start>
              <img src="assets/img/venkman.jpg">
            </ion-avatar>
            <h2>{{item.telefono}}</h2>
          </button>
          <ion-item-options side="right">
            <button ion-button color="red" icon-start>
              <ion-icon name="trash"></ion-icon>
             </button> 
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>



      
</ion-content>
