page-add {
    
.titulo{

    text-align: center;
}

.toolbar-background{
	background-color: #335bff;
}

.BotonAgregar{
margin-left:40%;
margin-top:8%;
}

.icono{
    margin-left:10%;
    margin-top:8%;

}


}
